<div class="fondo animated fadeIn">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-contact">
                            <div class="col-md-12">
                                <h4 class="card-title">{{titulo}}</h4>
                            </div>
                            <div class="col-md-12" [hidden]="!flagCreateUpdate">
                                <span class="card-title"><b>{{subtitulo}}</b></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="formularioCrearHorario" (keydown.enter)="$event.preventDefault()" (ngSubmit)="crearHorario()" novalidate >
                                <div class="row">
                                    <div class="col-md-6">
                                       
                                            <!--<input matInput placeholder="Nombre"  type="text" formControlName="entrada">-->
                                            <input type="time" id="input" class="form-control" formControlName="entrada" value="13:00" mdbInput/><!--Agregamos un campo para agregar entrada-->
                                            <label for="input">Entrada</label>
                                    
                                    </div>
                                    <div class="col-md-6">
                                        <input type="time" id="input1" class="form-control" formControlName="salida" value="13:00" mdbInput/><!--Agregamos un campo para agregar salida-->
                                        <label for="input1">Salida</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Turno</mat-label>
                                            <mat-select formControlName="turno">
                                                <mat-option value="mañana">mañana</mat-option>
                                                <mat-option value="tarde">tarde</mat-option>
                                                <mat-option value="noche">noche</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success animated fadeInDown text-center" *ngIf="save" role="alert">
                                            ¡Horario registrado con éxito!
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button type="button" (click)="CerrarPopUp()" class="btn btn-i-primary" [ngClass]="{ 'pull-left' : !save , 'pull-right' : save }">Cerrar</button>
                                <button mat-raised-button [disabled]="loading" type="submit" *ngIf="!save" class="btn btn-i-success  pull-right">
                                <span *ngIf="!loading">  Guardar  </span> &nbsp;
                                <span *ngIf="loading"> Espere... </span>&nbsp;
                                <i [ngClass]="{ 'fa-spinner fa-spin' : loading  , 'fa-save' : !loading }" class="fa  "></i>
                            </button>
                            <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>