.fondo {
    background-color: rgba(256, 256, 256, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 190px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    // background: rgb(234, 193, 23);
    background-color: #51409a;
    border-color: #51409a;
    // border: 1px solid black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    // left: 10px;
    left: 30px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    // left: 10px;
    left: 30px;
    animation: lds-ellipsis4 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    // left: 30px;
    left: 60px;
    animation: lds-ellipsis4 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    // left: 49px;
    left: 90px;
    animation: lds-ellipsis4 0.6s infinite;
}

.lds-ellipsis div:nth-child(5) {
    // left: 69px;
    left: 120px;
    animation: lds-ellipsis4 0.6s infinite;
}

.lds-ellipsis div:nth-child(6) {
    // left: 89px;
    left: 150px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

@keyframes lds-ellipsis4 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(30px, 0);
    }
}