<div class="wrapper bg-error">
    <div class="wrapper bg-capa">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="page-tittle">
                            <h1>404</h1>
                        </div>
                        <h4>Pagina no encontrada</h4>
                        <p class="mr-t-10 mr-b-20" style="font-weight: bold; font-size: 15px;">La pagina a la que ha intentado ingresar no existe</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>